{% extends 'handheld_base.html.twig' %}

{% block title %}Warehouse{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">Product Putaway</div>
        <div class="panel-body">
            
            NOT YET IMPLEMENTED
            
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#search").focus();
        });
    </script>
{% endblock %}
