{% extends 'handheld_base.html.twig' %}

{% block title %}Warehouse{% endblock %}

{% block body %}

    <div class="container">

        <br>

    <div class="row">

        <div class="col-sm-3">
            <a href="{{ path('app_handheld_shipping_carton_lookup' ) }}">
                    <div class="panel panel-default app-button">
                        <div class="panel-body text-center">
                    <br>
                    <span class="glyphicon glyphicon-search"></span>
                    <p>Carton Lookup</p>
                </div>
                </div>
            </a>
        </div>

    </div>

    </div>

{% endblock %}
